@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

:root{
  font-size: 10px;
}

/* * , *:before, *:after{ 
  
  box-sizing:border-box; 
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
  -ms-box-sizing:border-box;
} */


body{

  box-sizing:border-box; 
  font-family: 'Source Sans Pro', sans-serif;

  overflow-x: hidden;
}

a{
  text-decoration: none;
}

